/* ids */

#posts-count-date-input {
    cursor: pointer;
}

#posts-count-form {
    margin-top: 24px;
}

#posts-count-form > div {
    max-width: 20em;
}

/* classes */

.posts-count-button {
    margin: 12px 0;
}

.posts-count-label {
    min-width: 100px;
}
