/* html elements */

body,
html {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

button {
    background-color: rgb(38, 39, 45);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    min-width: 160px;
    padding: 16px;
}

button:hover {
    background-color: rgb(0, 133, 255);
}

footer {
    border: 1px solid white;
    border-radius: 20px;
    display: block;
    margin: 24px;
    padding: 16px;
    text-align: center;
}

footer > a {
    color: white;
}

footer > a:hover {
    color: rgb(0, 133, 255);
}

h2 {
    margin-bottom: 12px;
}

h5 {
    margin-bottom: 8px;
    margin-top: 24px;
}

h5,
li {
    font-size: 16px;
}

input {
    background-color: rgb(38, 39, 45);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 16px;
    width: 100%;
}

img {
    width: 50px;
}

label {
    align-items: center;
}

label,
input {
    display: flex;
    margin-bottom: 8px;
    min-width: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid white;
}

td {
    padding: 12px;
}

ul {
    margin-bottom: 8px;
    margin-top: 8px;
}

/* ids */

#app-spinner-overlay {
    align-items: center;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#buy-me-a-coffee-button {
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 12px;
    width: 250px;
}

#buy-me-a-coffee-button:hover {
    background-color: rgb(38, 39, 45);
}

#content-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

#credentialsForm {
    display: none;
    flex-direction: column;
    margin-top: 28px;
    padding: 0 24px;
}

#credentialsForm > div {
    gap: 8px;
}

#credentialsForm > p {
    gap: 8px;
}

#grid-container {
    display: flex;
    flex-flow: wrap;
    gap: 32px;
    padding: 24px;
}

#home-link {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 24px;
    padding-top: 24px;
    text-decoration: none;
    width: 100%;
}

#home-link:hover {
    background-color: rgb(38, 39, 45);
}

#initialize-block {
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
}

#table-block {
    margin-top: 24px;
    text-align: center;
}

#session-information-block {
    color: red;
    display: none;
    font-size: 10px;
}

#spinner-label {
    margin-top: 24px;
    padding: 0 24px;
    text-align: center;
}

/* classes */

.app-spinner {
    animation: spin 1s linear infinite;
    border: 8px solid #3498db;
    border-radius: 50%;
    border-top: 8px solid #f3f3f3;
    height: 50px;
    width: 50px;
}

.card {
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 16px 36px;
    min-height: 120px;
    text-wrap: normal;
    width: fit-content;
}

.card:hover {
    background-color: rgb(38, 39, 45);
    cursor: pointer;
}

.nav-container {
    padding: 24px;
    text-align: center;
}

.profile-link {
    color: white;
}

.profile-link:hover {
    color: rgb(0, 133, 255);
}

/* animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
