/* html elements */
div {
    display: flex;
}

h2 {
    margin-bottom: 12px;
}

h5 {
    margin-bottom: 8px;
    margin-top: 24px;
}

h5,
li {
    font-size: 16px;
}

img {
    width: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid white;
}

td {
    padding: 12px;
}

ul {
    margin-bottom: 8px;
    margin-top: 8px;
}

/* ids */

#analyze-block {
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
}

#analyze-block {
    display: none;
}

#analyze-button-block>button {
    min-width: 185px;
}

#analyze-information-block {
    color: red;
    display: none;
    font-size: 10px;
}

#analyze-spinner {
    animation: spin 1s linear infinite;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    display: none;
    height: 10px;
    width: 10px;
}

#table-block {
    margin-top: 24px;
    text-align: center;
}

/* classes */

.profile-link {
    color: white;
}

.profile-link:hover {
    color: rgb(0, 133, 255);
}
