/* html elements */

div {
    display: flex;
}

/* ids */

#analyze-block {
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
}

#analyze-block {
    display: none;
}

#analyze-button-block > button {
    min-width: 185px;
}

#analyze-information-block {
    color: red;
    display: none;
    font-size: 10px;
}
