<h2>Знайти невзаємні підписки</h2>

<h5>Опис</h5>
<ul>
    <li>Шукати користувачів, яких ви читаєте, але які не читають вас навзаєм</li>
</ul>

<h5>Застереження</h5>
<ul>
    <li>Користувачів які читають вас, але були заблоковані, не враховано</li>
    <li>Користувачів яких читаєте ви, але які заблокували вас, не враховано</li>
</ul>

<div id="analyze-block">
    <div id="analyze-button-block">
        <button id="analyzeButton"
                type="button"
                onclick="analyze()">
            Шукати невзаємні підписки
        </button>
    </div>
</div>
<div id="analyze-information-block"></div>

<div id="table-block"></div>
